footer {
    width: 90%;
    margin: 3rem auto auto auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
}

@media only screen and (min-width: 1024px) {
    footer {
        width: 70%;
    }
}

footer img {
    width: 1.5rem;
}

footer p {
    font-size: .8rem;
    font-weight: lighter;
    padding-top: .1rem;
}