footer {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
}

footer img {
    height: 1.5rem;
}

footer p {
    font-weight: lighter;
    padding-top: .1rem;
}