.project-grid {
    margin: 5rem auto 0 auto;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .5rem 2rem;
}

@media only screen and (min-width: 1024px) {
    .project-grid {
        width: 50%;
    }
}

.project-grid img {
    width: 100%;
}